defaults: &defaults
  # We need to run Docker Compose with volumes, which isn't supported by CircleCI's Docker executor, so we have to use
  # the machine executor instead.
  machine:
    image: circleci/classic:201711-01
env: &env
  environment:
    GRUNTWORK_INSTALLER_VERSION: v0.0.29
    TERRATEST_LOG_PARSER_VERSION: v0.30.10
    MODULE_CI_VERSION: v0.29.0
    TERRAFORM_VERSION: 0.15.1
    TERRAGRUNT_VERSION: NONE
    PACKER_VERSION: 1.6.4
    GOLANG_VERSION: 1.16
    GO111MODULE: auto
install_gruntwork_utils: &install_gruntwork_utils
  name: install gruntwork utils
  command: |
    curl -Ls https://raw.githubusercontent.com/gruntwork-io/gruntwork-installer/master/bootstrap-gruntwork-installer.sh | bash /dev/stdin --version "${GRUNTWORK_INSTALLER_VERSION}"
    gruntwork-install --module-name "gruntwork-module-circleci-helpers" --repo "https://github.com/gruntwork-io/terraform-aws-ci" --tag "${MODULE_CI_VERSION}"
    gruntwork-install --binary-name "terratest_log_parser" --repo "https://github.com/gruntwork-io/terratest" --tag "${TERRATEST_LOG_PARSER_VERSION}"
    configure-environment-for-gruntwork-module \
      --terraform-version ${TERRAFORM_VERSION} \
      --terragrunt-version ${TERRAGRUNT_VERSION} \
      --packer-version ${PACKER_VERSION} \
      --go-version ${GOLANG_VERSION}
version: 2
jobs:
  precommit:
    <<: *env
    docker:
      - image: circleci/python:3.8.1
    steps:
      - checkout
      # Install gruntwork utilities
      - run:
          <<: *install_gruntwork_utils
      # Fail the build if the pre-commit hooks don't pass. Note: if you run pre-commit install locally, these hooks will
      # execute automatically every time before you commit, ensuring the build never fails at this step!
      - run:
          command: |
            pip install pre-commit==1.21.0 cfgv==2.0.1 zipp==1.1.0 yapf
            go get golang.org/x/tools/cmd/goimports
            export GOPATH=~/go/bin && export PATH=$PATH:$GOPATH 
            pre-commit install
            pre-commit run --all-files
  test:
    <<: *defaults
    <<: *env
    steps:
      - checkout
      # The weird way you have to set PATH in Circle 2.0
      - run: echo 'export PATH=$HOME/.local/bin:$HOME/terraform:$HOME/packer:$PATH' >> $BASH_ENV
      # Install gruntwork utilities
      - run:
          <<: *install_gruntwork_utils
      # Run the tests
      - run:
          name: run tests
          command: |
            mkdir -p /tmp/logs
            set -o pipefail && run-go-tests --path test --timeout 90m | tee /tmp/logs/all.log
          no_output_timeout: 3600s
      - run:
          command: terratest_log_parser --testlog /tmp/logs/all.log --outputdir /tmp/logs
          when: always
      - store_artifacts:
          path: /tmp/logs
      - store_test_results:
          path: /tmp/logs
  release:
    <<: *defaults
    <<: *env
    steps:
      - checkout
      # The weird way you have to set PATH in Circle 2.0
      - run: echo 'export PATH=$HOME/.local/bin:$HOME/terraform:$HOME/packer:$PATH' >> $BASH_ENV
      # Install gruntwork utilities
      - run:
          <<: *install_gruntwork_utils
      - run: gruntwork-install --module-name "build-helpers" --repo "https://github.com/gruntwork-io/terraform-aws-ci" --tag "${MODULE_CI_VERSION}"
      - run: gruntwork-install --module-name "aws-helpers" --repo "https://github.com/gruntwork-io/terraform-aws-ci" --tag "${MODULE_CI_VERSION}"
      - run: ~/project/.circleci/publish-amis.sh "ubuntu-ami"
      - run: ~/project/.circleci/publish-amis.sh "amazon-linux-ami"
workflows:
  version: 2
  test:
    jobs:
      - precommit:
          context:
            - Gruntwork Admin
      - test:
          requires:
            - precommit
          # We have to explicitly tell CircleCi to run on all tags and branches, or tag commits/pushes will not trigger
          # builds: https://circleci.com/docs/2.0/workflows/#git-tag-job-execution.
          filters:
            branches:
              only: /.*/
            tags:
              only: /.*/
          context:
            - Gruntwork Admin
      - release:
          requires:
            - test
          # Publish new AMIs whenever a new vesion (e.g., v0.3.4) is released
          filters:
            tags:
              only: /^v.*/
            branches:
              ignore: /.*/
          context:
            - Gruntwork Admin
            - Gruntwork AMI Publishing
